* {
  font-family: 'Raleway', sans-serif;
}

body {
  padding: 70px;
  text-align: center;
}

/*#events {
  max-height: 252px;
  min-height: 252px;
}*/

/*event titles on events page*/

.events_title {
  font-weight: 900;
  cursor: default;
}

.event_titles:link {
    text-decoration: none;
}

.event_titles:visited {
    text-decoration: none;
}

.event_titles:hover {
    text-decoration: underline;
}

.event_titles:active {
    text-decoration: underline;
}

.event_titles {
  cursor: pointer;
  letter-spacing: 1em;
  font-size: xx-large;

}

/*margin to the right of navbar*/
.navbar-right {
  margin-right: auto;
}

/*navbar logo*/
.navbar-brand > img {
  width: 100px;
}

/*navbar buttons*/
.navbar-btn {
  margin-top: 20px;
  color: black;
}

/*also nav background color*/
nav {
  background-color: white;
}

/*navbar background color*/
.nav .navbar-nav {
  background-color: white;
}

/*make event thumbnails inline*/
.thumbnail .events {
  display: inline;
}

/*event info on event thumbnails*/
.event-info {
  cursor: default;
}

/*thumbnail images*/
.image {
  opacity: 1;
}

.image:hover {
  opacity: 0.6;
}

/*.image:click {
  opacity: 0;
}
*/

/*icons*/
.glyphicon {
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.glyphicon:hover {
  opacity: 0.6;
}


.icons {
  text-align: left;
}

/*remove text decoration from thumbnail info links*/
.links {
  text-decoration: none;
  color: black;
}






