<!-- <h1 class="events_title">Upcoming Events</h1> -->

<!-- <img src="https://i.imgur.com/FBZ19UL.png" alt="Events"> -->
<div ng-controller="WelcomeController as events">




  <!--**************************** CREATE ****************************-->
  <div class="row">
    <span ng-click="showCreate = !showCreate" class="event_titles container"><h1>CREATE</h1></span>
    <div ng-repeat="event in events.eventsList | filter: { 'venue': 'Create' }">
      <div ng-show="showCreate">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail events">
            <!-- <img class="image" ng-click="myStyle={'display': 'none'}" ng-style="myStyle" ng-src={{event.image}}> -->
            <img class="image" ng-src={{event.image}}>
            <div class="caption">
              <h3 class="event-info"> {{ event.dj | uppercase }} </h3>
              <h4 class="event-info"> {{ event.date }} </h4>
              <div>
                <a href="#" class="btn btn-secondary" role="button">Tickets</a>
                <a href="#" class="btn btn-secondary" role="button">Tables</a>
                <a href="#" class="btn btn-secondary" role="button" ng-click="showInfo = !showInfo">Info</a>
              </div>
            </div>
            <div ng-show="showInfo">
              <div class="icons">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span>{{ event.info }}</span>
              </div>
              <div class="icons">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                <span>{{ event.time }}</span>
              </div>
              <div class="icons">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                <a class="links" target="_blank" href="{{event.location}}">{{ event.addy }}</a>
              </div>
              <div class="icons">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                <a class="links" target="_blank" href="{{event.link}}">{{ event.website }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--**************************** SOUND ****************************-->

  <div class="row">
  <span ng-click="showSound = !showSound" class="event_titles container"><h1>SOUND</h1></span>
    <div ng-repeat="event in events.eventsList | filter: { 'venue': 'Sound' }">
      <div ng-show="showSound">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail events">
            <img class="image" ng-src={{event.image}}>
            <div class="caption">
              <h3 class="event-info">{{ event.dj | uppercase }}</h3>
              <h4 class="event-info">{{ event.date }}</h4>
              <div>
                <a href="#" class="btn btn-secondary" role="button">Tickets</a>
                <a href="#" class="btn btn-secondary" role="button">Tables</a>
                <a href="#" class="btn btn-secondary" role="button" ng-click="showInfo = !showInfo">Info</a>
              </div>
            </div>
            <div ng-show="showInfo">
              <div class="icons">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span>{{ event.info }}</span>
              </div>
              <div class="icons">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                <span>{{ event.time }}</span>
              </div>
              <div class="icons">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                <a class="links" target="_blank" href="{{event.location}}">{{ event.addy }}</a>
              </div>
              <div class="icons">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                <a class="links" target="_blank" href="{{event.link}}">{{ event.website }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--**************************** AVALON ****************************-->

  <div class="row">
    <span ng-click="showAvalon = !showAvalon" class="event_titles container"><h1>AVALON</h1></span>
    <div ng-repeat="event in events.eventsList | filter: { 'venue': 'Avalon' }">
      <div ng-show="showAvalon">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail events">
            <img class="image" ng-src={{event.image}}>
            <div class="caption">
              <h3 class="event-info">{{ event.dj | uppercase }}</h3>
              <h4 class="event-info">{{ event.date }}</h4>
              <div>
                <a href="#" class="btn btn-secondary" role="button">Tickets</a>
                <a href="#" class="btn btn-secondary" role="button">Tables</a>
                <a href="#" class="btn btn-secondary" role="button" ng-click="showInfo = !showInfo">Info</a>
              </div>
            </div>
            <div ng-show="showInfo">
              <div class="icons">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span>{{ event.info }}</span>
              </div>
              <div class="icons">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                <span>{{ event.time }}</span>
              </div>
              <div class="icons">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                <a class="links" target="_blank" href="{{event.location}}">{{ event.addy }}</a>
              </div>
              <div class="icons">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                <a class="links" target="_blank" href="{{event.link}}">{{ event.website }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ****************************** SLS ****************************** -->

  <div class="row">
  <span ng-click="showSls = !showSls" class="event_titles container"><h1>SLS</h1></span>
    <div ng-repeat="event in events.eventsList | filter: { 'venue': 'SLS' }">
      <div ng-show="showSls">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail events">
            <img class="image" ng-src={{event.image}}>
            <div class="caption">
              <h3 class="event-info">{{ event.dj | uppercase }}</h3>
              <h4 class="event-info">{{ event.date }}</h4>
              <div>
                <a href="#" class="btn btn-secondary" role="button">Tickets</a>
                <a href="#" class="btn btn-secondary" role="button">Tables</a>
                <a href="#" class="btn btn-secondary" role="button" ng-click="showInfo = !showInfo">Info</a>
              </div>
            </div>
            <div ng-show="showInfo">
              <div class="icons">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span>{{ event.info }}</span>
              </div>
              <div class="icons">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                <span>{{ event.time }}</span>
              </div>
              <div class="icons">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                <a class="links" target="_blank" href="{{event.location}}">{{ event.addy }}</a>
              </div>
              <div class="icons">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                <a class="links" target="_blank" href="{{event.link}}">{{ event.website }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div> <!-- end ng-controller -->
